<div id="rDiv">
    <label for="registrationPage" id="rpage">Registration...</label>
    <table id="rtable">
        <tr>
            <th>Username :</th>
            <td><input type="text"[(ngModel)]="rusername"></td>
        </tr>
        <tr>
            <th>Password :</th>
            <td><input type="password" [(ngModel)]="rpassword"></td>
        </tr>
        <tr>
           <th>Confirm Password :</th>
           <td><input type="password" [(ngModel)]="rcpassword"></td>
       </tr>
       <tr>
           <th>Email :</th>
           <td> <input type="text" [(ngModel)]="remail"></td>
       </tr>
       <tr>
            <th>Mobile Number :</th>
            <td> <input type="text" [(ngModel)]="rmobno"></td>
       </tr>
       <tr>
        <td colspan=2 style="position: relative;left: 70%;top:25px;">
            <button id="rbutton" (click)="Registration()">Register</button>
        </td>
       </tr>
       <tr id="nRegister">                 
        <td colspan=2 (click)="refreshRegister()">Cancel Registration...</td>
       </tr>
   </table>
   <div class="errors">{{rerror}}</div>
</div>