.uform{
    border: 2px solid rgb(74,72,72);
    padding: 20px;
    margin: 30px;
    width: 800px;
}

.small-input{
    width: 200px;
}
.medium-input{
    width: 300px;
}
.large-input{
    width: 450px;
}
input[type="text"],input[type="password"],input[type="date"],select{
    height: 35px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    border: 2px solid rgb(67,67,67);
    margin: 10px;
}
.item-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(69,67,67);
    font-size: 20px;
}
textarea{
    height: 200px;
    border: 2px solid rgb(67,67,67);
}